h1 {
    padding-top: 4%;
}

.main-content {
    max-width: 800px;
}

.center-text {
    text-align: center;
}

.pad-div {
    padding: 5%;
}

.border-top {
    border-top: 1px solid lightgray;
}


.disabled {
    pointer-events: none;
    color: grey; 
    cursor: not-allowed; 
}


/* Mobile 
@media screen and (min-width:0px) {
    body {
        font-size: 3vw;
    }
    p {
        font-size: 3vw;
    }
}

/* Monitor 
@media screen and (orientation:landscape) {
    p {
        font-size: 2vh;
    }
}